.Charging {
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
  color: rgb(109, 101, 101);
}

.Arrived {
  display: none;
}
