header {
  width: 100%;
  position: fixed;
  background-color: #333;
  z-index: 1;
}

.navContainer {
  h2 {
    color: #ffffff;
    font-weight: 400;

    span {
      font-weight: bold;
    }
  }

  padding: 0.4rem;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;

  a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;
  }

  .links {
    position: absolute;
    top: -700px;
    left: -2000px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    transition: all 0.5s ease;

    a {
      color: #ffffff;
      font-size: 2rem;
      display: block;
    }

    @media (min-width: 768px) {
      position: initial;
      margin: 0;

      a {
        font-size: 1rem;
        color: #ffffff;
        display: inline;
      }

      display: block;
    }
  }

  .links.active {
    width: 100%;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    top: 90%;
    left: 0;
    right: 0;
    text-align: center;

    a {
      font-size: 2rem;
      margin-top: 1rem;
      color: white;
    }
  }

  .burguer {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .BgDiv {
    background-color: #222;
    position: absolute;
    top: -1000px;
    left: -1000px;
    width: 100%;
    height: 100%;
    //z-index: 2;
    transition: all 0.6s ease;

    &.active {
      border-radius: 0 0 70% 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 780%;
      z-index: -1;
    }
  }
}

.nav-icon-5 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;

  span {
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    width: 100%;
    height: 4px;
    transition-duration: 500ms;

    &:nth-child(1) {
      top: 0px;
      left: 0px;
    }

    &:nth-child(2) {
      top: 13px;
      left: 0px;
      opacity: 1;
    }

    &:nth-child(3) {
      bottom: 0px;
      left: 0px;
    }
  }

  &:not(.open):hover span {
    &:nth-child(1) {
      transform: rotate(-3deg) scaleY(1.1);
    }

    &:nth-child(2) {
      transform: rotate(3deg) scaleY(1.1);
    }

    &:nth-child(3) {
      transform: rotate(-4deg) scaleY(1.1);
    }
  }

  &.open span {
    &:nth-child(1) {
      transform: rotate(45deg);
      top: 13px;
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
      top: 13px;
    }
  }
}
